@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap");
@import "tailwindcss";

html,
body,
#root {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: "DM Sans", sans-serif;
}

@layer utilities {
    .scrollbar-thin {
        scrollbar-width: thin;
        scrollbar-color: #DDDDDD transparent;
    }

    .scrollbar-thin::-webkit-scrollbar {
        width: 6px;
    }

    .scrollbar-thin::-webkit-scrollbar-track {
        background: transparent;
    }

    .scrollbar-thin::-webkit-scrollbar-thumb {
        background: #d1d5db;
        border-radius: 9999px;
    }
}